<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>Edit Employee</title>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="container m-3">
        <h1>Edit Employee</h1>
        <form action="/employee/<%= employee._id %>/edit" method="POST" enctype="multipart/form-data">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="<%= employee.name %>" required>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="<%= employee.email %>" required>
            </div>
            <div>
                <label for="mobileNo">Mobile No:</label>
                <input type="text" id="mobileNo" name="mobileNo" value="<%= employee.mobileNo %>" maxlength="10" pattern="\d{10}" required>
            </div>
            <div>
                <label for="designation">Designation:</label>
                <select id="designation" name="designation" required>
                    <option value="HR" <% if (employee.designation === 'HR') { %>selected<% } %>>HR</option>
                    <option value="Manager" <% if (employee.designation === 'Manager') { %>selected<% } %>>Manager</option>
                    <option value="Sales" <% if (employee.designation === 'Sales') { %>selected<% } %>>Sales</option>
                </select>
            </div>
            <div>
                <label>Gender:</label>
                <input type="radio" name="gender" value="Male" <% if (employee.gender === 'Male') { %>checked<% } %>> Male
                <input type="radio" name="gender" value="Female" <% if (employee.gender === 'Female') { %>checked<% } %>> Female
            </div>
            <div>
                <label>Course:</label>
                <input type="checkbox" name="course" value="MCA" <% if (employee.course.includes('MCA')) { %>checked<% } %>> MCA
                <input type="checkbox" name="course" value="BCA" <% if (employee.course.includes('BCA')) { %>checked<% } %>> BCA
                <input type="checkbox" name="course" value="BSC" <% if (employee.course.includes('BSC')) { %>checked<% } %>> BSC
            </div>
            <div>
                <label for="coverImage">Upload Image:</label>
                <input type="file" id="coverImage" name="coverImage" accept=".jpg, .png">
            </div>
            <button type="submit">Update</button>
        </form>
    </div>
    <%- include("./partials/scripts.ejs") %>
</body>
</html>
